.markdown {
  @apply prose;

  /* heading */
  @apply prose-headings:font-bold prose-headings:leading-relaxed prose-headings:mb-2;
  @apply prose-h1:text-3xl prose-h1:mt-12 prose-h1:border-b prose-h1:border-gray-300 prose-h1:pb-2;
  @apply prose-h2:text-2xl prose-h2:mt-10 prose-h2:border-b prose-h2:border-gray-300 prose-h2:pb-2;
  @apply prose-h3:text-xl prose-h3:mt-8;
  @apply prose-h4:text-lg prose-h4:mt-8;


  /* link */
  @apply prose-a:text-blue-500 prose-a:visited:text-violet-600;

  /* code */
  @apply prose-code:before:content-none prose-code:after:content-none;
  @apply prose-pre:bg-[#0d1117] prose-pre:p-2 prose-pre:shadow-lg;

}
